[submodule "3D_Action_Recognition"]
	path = 3D_Action_Recognition
	url = https://github.com/93TEI/3D_Action_Recognition.git
[submodule "human-action-classification"]
	path = human-action-classification
	url = https://github.com/dronefreak/human-action-classification.git
